body
{
  font-family:Arial;
  background-color:#f6d9d6;
  margin:0;
}

img
{
  margin-top:10px;
  width:90%;
  height:auto;
}

nav
{
  width:100%;
  float:left;
  margin:0;
  padding:0;
}

p
{
  margin:0;
}

h1
{
  font-size:300%;
  text-align:center;
  color:#FFF;
  margin:0;
}

h2
{
  font-size:250%;
  text-align:center;
  color:#FFF;
}

h3 {
  font-size: 300%;
  text-align: center;
  color: #FFF;
  margin-top: 8.5vw;
}

.centerHTML,.centerBody
{
  height:100%;
}

.centerHTML
{
  display:table;
  margin:auto;
}

.centerBody
{
  font-family:Arial;
  background-color:#f6d9d6;
  display:table-cell;
  vertical-align:middle;
  max-height:1080px;
  max-width:810px;
  margin:0;
}

.center
{
  text-align:center;
  margin:30px auto;
}

.center p
{
  margin:20px;
}

.menu
{
  text-align:center;
  margin:0;	
}

.divider
{
	margin: 0;
	height: calc(36.6px + 8px + 2.25vh + 2.25vh);
}

.minPage {
	margin: auto;
	min-height: calc(100vh - (2 * (36.6px + 8px + 2.25vh + 2.25vh)));
	float: left;
	width: 100vw;
}

.guideBox
{
	text-align: center;
	width: 92vw;
	height: 25vw;
	margin: 0;
	background-color:#df5c48;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	margin-left: auto;
	margin-right: auto;
}

.gbImage {
	display: inline-block;
	background-color: black;
	height: 20vw;
	width: 20vw;
	margin-top: 2.5vw;
	margin-right: 5px;
  overflow: auto;
	}

.gbText {
	display: inline-block;
	background-color: red;		
	height: 20vw;
	width: 65vw;
	margin-top: 2.5vw;
	margin-left: 5px;
	overflow: auto;
}


.button
{
  font-family:Arial;
  font-style:none;
  color:#fff;
  text-decoration:none;
  text-align:center;
  font-size:32px;
  width:50%;
  display:inline-block;
  padding-top:2.25vh;
  padding-bottom:2.25vh;
  background-color:#df5c48;
  box-sizing:border-box;
  border:4px solid #b24a3a;
  margin:0;	
  position:relative;
  
}

.button:link
{
  color:#fff;
}

.button:hover
{
  background-color:#d68278;
}

.wide
{
  width:100vw;
}


.inputBox
{
  font-size:260%;
  width:80%;
}

.content
{
	font-size: 180%;
	height: 500px;
}

.submit
{
  margin-top:5%;
  height:60px;
  width:60%;
}

.ttsSubmit
{
  margin-top:10px;
  background-image: url("speaker.png");	
  width:64px;
  height:64px;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:100% 100%;
}

.form
{
  text-align:center;
  width:60%;
  background-color:#df5c48;
  border-color:#df5c48;
  border-style:solid;
  border-width:30px;
  margin:30px auto auto;
}

#box
{
  text-align:center;
  width:65%;
  background-color:#df5c48;
  border-color:#df5c48;
  border-style:solid;
  border-width:30px;
  margin:30px auto;
}

#box p
{
  font-size:200%;
  font-family:Arial;
  color:#FFF;
}

#hLink
{
  font-size:200%;
}