<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="U-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>New Guide</title>
	
	<link rel="shortcut icon" href="../static/favicon.png">
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	
</head>

<body class="minWidth">

	<div class="divider">
	
		<nav class="menu">	
		
			<a class="button" href="{{url_for('home')}}">Home</a><a class="button" href="{{url_for('newGuide')}}">New Guide</a>			
		
		</nav>
		
	</div>
	
	<div class="minPage">
	
		<div class="form guideForm">
	
			<form method="POST", enctype="multipart/form-data", action="">
				<h2>Title</h2>
				{{ form.title(class='inputBox') }}

				{% for listPair in form.listPair %}
					<div class="pair">
						<h3>New Image:</h3> {{listPair.image(class='File')}}
						<h3>New Caption:</h3> {{listPair.caption(class='captionBox')}}
					</div>
				{% endfor %}

				{{ form.submit(class='submit') }}
			</form>
			
		</div>
		<nav class="menu">
			<a class="button delete" href="{{url_for('deleteGuide', guide_id=guide.id)}}">!Delete!</a>
		</nav>
	</div>	
	
	
	<nav class="menu">
		<a class="button wide" href="{{url_for('logout')}}">Click to Logout</a>
	</nav>

</body>

</html>

