{% extends "base.html" %}

{% block content %}

	<!-- GUIDE.0/1/2/3 = ID/NAME/CREATOR/GUIDEIMAGES -->
		<div class="form guideForm">
			<h1> {{ guide.title }} </h1>
			<h1> Made By: {{ guide.creator }} </h1>

			{% for pair in images %}
				<div class="pair">
					<img src="{{pair.image}}">
					<h2> {{pair.caption}} </h2>
				</div>
			{% endfor %}
		</div>

	</div>
	
	<nav class="menu">
		<a class="button edit" href="{{url_for('editGuide', guide_id=guide.id)}}">Edit Guide</a>
	</nav>
	
{% endblock %}

