<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="U-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Home</title>
	
	<link rel="shortcut icon" href="../static/favicon.png">
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	
</head>

<body class="minWidth">

	<div>
	
		<nav class="menu">

			<div class="divNav"><a class="button" href="{{url_for('home')}}">Home</a></div><div class="divNav">	<a class="button" href="">New Guide</a></div>
				
		</nav>
		
	</div>
	
	<p>test</p>
	<p>test</p>
	<p>test</p>
	<p>test</p>
	<p>test</p>
	
	<a href="{{url_for('logout')}}">Click to Logout</a><br>
</body>

</html>

