{% extends "base.html" %}

{% block content %}

	{% for guide in data %} <!--For GUIDE in the DATA list...-->

		<!-- GUIDE.0/1/2/3 = ID/NAME/CREATOR/GUIDEIMAGES   -->
			
		<a href={{url_for('guide', guide_id=guide.0) }}>
			
			<div class="guideBox"> <!-- Div is single line for aesthetic + removing white space. (</div><div> need to be touching ?)-->
				<div class="gbImage"> <img class="thumbnail" src="../{{guide.3.0.image}}"> </div><div class="gbText"> <h3>{{guide.1}}</h3> </div>
			</div>
		</a>
			
	{% endfor %}
			
{% endblock %}
