{% extends "base-menus.html" %}

{% block content %}
		
	<div id="box">
		
		<p>Welcome to the FlowerPod Website <br><br> Here you can find gardening guides, tips and tricks! <br><br> Make an account or sign in to get started</p>
		
		<form method="POST" action="">
		
			{{ form.submit(class='ttsSubmit') }}
			
		</form>
		
		
	</div>
	
	
	
	<div class ="center">
			
		<p><a id="hLink" href="{{url_for('login')}}">Sign in to your account</a></p>
			
		<p><a id="hLink" href="{{url_for('register')}}">Create an account</a></p>
			
	</div>
	
{% endblock %}