<!DOCTYPE html>
<html lang="en" class="centerHTML">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="U-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Flower Pod</title>
	
	<link rel="shortcut icon" href="../static/favicon.png">
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	
</head>

<body class="centerBody">

	<div class ="center">
		
		<img src="../static/logo-600px.png" alt="Flower Pod Logo" />
		
	</div>
		
	<div id="box">
		
		<p>Welcome to the FlowerPod Website <br><br> Here you can find gardening guides, tips and tricks! <br><br> Make an account or sign in to get started</p>
		
		<form method="POST" action="">
		
			{{ form.submit(class='submit') }}
			
		</form>
		
		
	</div>
	
	
	
	<div class ="center">
			
		<p><a id="hLink" href="{{url_for('login')}}">Sign in to your account</a></p>
			
		<p><a id="hLink" href="{{url_for('register')}}">Create an account</a></p>
			
	</div>
	
</body>

</html>