{% extends "base.html" %}

{% block content %}
	
		<div class="form guideForm">
	
			<form method="POST", enctype="multipart/form-data", action="">
				<!-- I don't think we can access this, because we get the form when we send a POST request to the website -->
				{% for caption in form.captionList %}
				<div class="pair">
						<img src={{caption.label}} >
					<div>
						{{caption(class='captionBox')}}
					</div>
				</div>
				{% endfor %}

				{{ form.submit(class='submit') }}
			</form>
			
		</div>
	
{% endblock %}