<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="U-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>New Guide</title>
	
	<link rel="shortcut icon" href="../static/favicon.png">
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	
</head>

<body class="minWidth">

	<div class="divider">
	
		<nav class="menu">	
		
			<a class="button" href="{{url_for('home')}}">Home</a><a class="button" href="{{url_for('newGuide')}}">New Guide</a>			
		
		</nav>
		
	</div>
	
	<div class="minPage">
	
		<div class="form">
	
			<form method="POST", enctype="multipart/form-data", action="">

				<h2>Title</h2>
				{{ form.title(class='inputBox') }}
				
				<!-- This field is no longer needed (flask grabs logged username)
				<h2>Creator</h2>
				{{ form.creator(class='inputBox') }} -->
				
				<h2>File Upload</h2>
				{{ form.images(class='File')}}

				<p>Please make sure you format your file names correctly...</p>
				<p>File explorer sorts them so their order may be by name, last modified and not your selected order.</p>

				{{ form.submit(class='submit') }}
				
			</form>
			
		</div>
		
	</div>	
	
	
	<nav class="menu">
		<a class="button wide" href="{{url_for('logout')}}">Click to Logout</a>
	</nav>

</body>

</html>

