{% extends "base-menus.html" %}

{% block content %}

	<div class="form"> 
	
		<h1>Register Account</h1>
		
		<form method="POST" action="">
		
			{{ form.hidden_tag() }}
			
			<h2>Username</h2>
			{{ form.username(class='inputBox') }}
			
			<h2>Password</h2>
			{{ form.password(class='inputBox') }}
			
			{{ form.submit(class='submit') }}
			
		</form>
		
	</div>
	
	<div class ="center">
			
		<p><a id="hLink" href="{{url_for('login')}}">Already have an account?</a></p>
			
		<p><a id="hLink" href="{{url_for('mainPage')}}">Go back</a></p>
			
	</div>

	{% endblock %}